// Here you can add other styles
@import '~simple-line-icons/scss/simple-line-icons';

// Fix mobile footer
.app-footer {
  flex: 0 0;
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 3);
}

div.dt-buttons {
  margin-left: 15%;
}
.select2-container{
  width: 100%!important;
}
button.dt-button, div.dt-button, a.dt-button{
  background: #30353a!important;
  color: white;
  border: none!important;
  font-weight: bold;
}
button.dt-button:hover, div.dt-button:hover, a.dt-button:hover{
  color: white;
  border:none!important;
  background: #30353a!important;
  opacity: 0.7;
}

