<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Teacher Page</title>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="assets-rtl/css/owl.carousel.css">
	<link rel="stylesheet" href="assets-rtl/css/fontawesome-all.css">
	<link rel="stylesheet" href="assets-rtl/css/flaticon.css">
	<link rel="stylesheet" type="text/css" href="assets-rtl/css/meanmenu.css">
	<link rel="stylesheet" href="assets-rtl/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets-rtl/css/video.min.css">
	<link rel="stylesheet" href="assets-rtl/css/lightbox.css">
	<link rel="stylesheet" href="assets-rtl/css/progess.css">
	<link rel="stylesheet" href="assets-rtl/css/style.css">
	<link rel="stylesheet" href="assets-rtl/css/responsive.css">

</head>

<body>

	<div id="preloader"></div>


	<!-- Start of Header section
		============================================= -->
			<header>
			<div id="main-menu" class="main-menu-container">
				<div class="main-menu">
					<div class="container">
						<div class="navbar-default">
							<div class="navbar-header float-left">
								<a class="navbar-brand text-uppercase" href="#"><img src="assets-rtl/img/logo/logo.png" alt="شعار"></a>
							</div><!-- /.navbar-header -->

							<div class="select-lang">
								<select>
									<option value="9" selected="">ENG</option>
									<option value="10">المنع</option>
									<option value="11">ARB</option>
									<option value="12">FRN</option>
								</select>
							</div>
							<div class="cart-search float-right ul-li">
								<ul>
									<li><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
									<li>
										<button type="button" class="toggle-overlay search-btn">
											<i class="fas fa-search"></i>
										</button>
										<div class="search-body">
											<div class="search-form">
												<form action="#">
													<input class="search-input" type="search" placeholder="Search Here">
													<div class="outer-close toggle-overlay">
														<button type="button" class="search-close">
															<i class="fas fa-times"></i>
														</button>
													</div>
												</form>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="log-in float-right">
								<a data-toggle="modal" data-target="#myModal" href="#">تسجيل الدخول</a>
								<!-- The Modal -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header backgroud-style">
												<div class="gradient-bg"></div>
												<div class="popup-logo">
													<img src="assets-rtl/img/logo/p-logo.jpg" alt="">
												</div>
												<div class="popup-text text-center">
													<h2> <span>تسجيل الدخول</span> حسابك.</h2>
													<p>تسجيل الدخول إلى موقعنا على شبكة الإنترنت، أو <span>تسجيل</span></p>
												</div>
											</div>

											<!-- Modal body -->
											<div class="modal-body">
												<div class="facebook-login">
													<a href="#">
														<div class="log-in-icon">
															<i class="fab fa-facebook-f"></i>
														</div>
														<div class="log-in-text text-center">
															تسجيل الدخول باستخدام الفيسبوك
														</div>
													</a>
												</div>
												<div class="alt-text text-center"><a href="#">أو تسجيل الدخول</a> </div>
												<form class="contact_form" action="#" method="POST" enctype="multipart/form-data">
													<div class="contact-info">
														<input class="name" name="Email" type="email" placeholder="Your@email.com*">
													</div>
													<div class="contact-info">
														<input class="email" name="name" type="text" placeholder="Your name*">
													</div>
													<div class="nws-button text-center white text-capitalize">
														<button type="submit" value="Submit">تسجيل الدخول الآن</button> 
													</div> 
												</form>
												<div class="log-in-footer text-center">
													<p>* يدل على حقل إلزامي.</p>
													<p>** At least one telephone number is required.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<nav class="navbar-menu float-right">
								<div class="nav-menu ul-li">
									<ul>
										<li class="menu-item-has-children ul-li-block">
											<a href="#">الصفحة الرئيسية</a>
											<ul class="sub-menu">
												<li><a href="index-1.html">الصفحة الرئيسية 1</a></li>
												<li><a href="index-2.html">الصفحة الرئيسية 2</a></li>
												<li><a href="index-3.html">الصفحة 3</a></li>
												<li><a href="index-4.html">الصفحة الرئيسية 4</a></li>
											</ul>
										</li>
										<li><a href="#">معلومات عنا</a></li>
										<li><a href="#">دورة</a></li>
										<li><a href="#">معلمون</a></li>
										<li><a href="#">اتصل بنا</a></li>
									</ul>
								</div>
							</nav>

							<div class="mobile-menu">
								<div class="logo"><a href="index-1.html"><img src="assets-rtl/img/logo/logo.png" alt="Logo"></a></div>
								<nav>
									<ul>
										<li><a href="index.html">Home</a>
										</li>
										<li><a href="about.html">About</a></li>
										<li><a href="blog.html">Blog</a>
											<ul>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="blog-single.html">Blog sinlge</a></li>
											</ul>
										</li>
										<li><a href="#">Shop</a>
											<ul>
												<li><a href="shop.html">Shop</a></li>
												<li><a href="shop-single.html">Shop sinlge</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

 	<!-- Start of Header section
 		============================================= --> 


	<!-- Start of breadcrumb section
		============================================= -->
		<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
			<div class="blakish-overlay"></div>
			<div class="container">
				<div class="page-breadcrumb-content text-center">
					<div class="page-breadcrumb-title">
						<h2 class="breadcrumb-head black bold">عبقري <span>المعلم</span></h2>
					</div>
					<div class="page-breadcrumb-item ul-li">
						<ul class="breadcrumb text-uppercase black">
							<li class="breadcrumb-item"><a href="#">الصفحة الرئيسية</a></li>
							<li class="breadcrumb-item active">معلمون</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- End of breadcrumb section
		============================================= -->



	<!-- Start of teacher section
		============================================= -->
		<section id="teacher-page" class="teacher-page-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="teachers-archive">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-1.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-2.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-3.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-4.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-5.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-6.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-1.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-2.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-3.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-4.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-5.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="teacher-pic-content">
										<div class="teacher-img-content relative-position">
											<img src="assets-rtl/img/teacher/mt-6.jpg" alt="">
											<div class="teacher-hover-item">
												<div class="teacher-social-name ul-li-block">
													<ul>
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
													</ul>
												</div>
												<div class="teacher-text">
													أبجد هوز دولور consectuer adipiscing elit، nonummy nibh euismod tincidunt.
												</div>
											</div>
											<div class="teacher-next text-center">
												<a href="#"><i class="text-gradiant fas fa-arrow-right"></i></a>
											</div>
										</div>
										<div class="teacher-name-designation">
											<span class="teacher-name">دانيال الفاريس </span>
											<span class="teacher-designation">تطبيقات المحمول</span>
										</div>
									</div>
								</div>
							</div>
							<div class="couse-pagination text-center ul-li">
								<ul>
									<li class="pg-text"><a href="#">PREV</a></li>
									<li><a href="#">01</a></li>
									<li><a href="#">02</a></li>
									<li class="active"><a href="#">03</a></li>
									<li><a href="#">04</a></li>
									<li><a href="#">...</a></li>
									<li><a href="#">15</a></li>
									<li class="pg-text"><a href="#">التالى</a></li>
								</ul>
							</div>
							
						</div>
					</div>

					<div class="col-md-3">
						<div class="side-bar-widget first-widget">
							<h2 class="widget-title text-capitalize"><span>اعثر على دورة تدريبية</span> وقم بالتسجيل اليوم.</h2>
							<div class="course-img">
								<img src="assets-rtl/img/teacher/ct-1.jpg" alt="">
							</div>
							<div class="course-desc">
								<p>Lorem ipsum dolor sit consectetuer adipiscing elit، sed diam nonummy nibh euismod tincidunt.</p>
							</div>
							<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
								<a href="#">عرض الدورات عبر الإنترنت <i class="fas fa-caret-right"></i></a>
							</div>
						</div>

						<div class="side-bar-widget">
							<h2 class="widget-title text-capitalize"><span></span>الأخبار <span>ذات الصلة</span> .</h2>
							<div class="latest-news-posts">
								<div class="latest-news-area">
									<div class="latest-news-thumbnile relative-position">
										<img src="assets-rtl/img/blog/lb-1.jpg" alt="">
										<div class="hover-search">
											<i class="fas fa-search"></i>
										</div>
										<div class="blakish-overlay"></div>
									</div>
									<div class="date-meta">
										<i class="fas fa-calendar-alt"></i> 26 أبريل 2018
									</div>
									<h3 class="latest-title bold-font"><a href="#">التسويق التابعة دليل المبتدئين.</a></h3>
								</div>
								<!-- /post -->

								<div class="latest-news-posts">
									<div class="latest-news-area">
										<div class="latest-news-thumbnile relative-position">
											<img src="assets-rtl/img/blog/lb-2.jpg" alt="">
											<div class="hover-search">
												<i class="fas fa-search"></i>
											</div>
											<div class="blakish-overlay"></div>
										</div>
										<div class="date-meta">
											<i class="fas fa-calendar-alt"></i> 26 أبريل 2018
										</div>
										<h3 class="latest-title bold-font"><a href="#">رقم 1 أفضل دورة على الإنترنت 2018.</a></h3>
									</div>
									<!-- /post -->
								</div>

								<div class="view-all-btn bold-font">
									<a href="#">عرض جميع الأخبار <i class="fas fa-chevron-circle-right"></i></a>
								</div>
							</div>
						</div>

						<div class="side-bar-widget">
							<h2 class="widget-title text-capitalize"><span></span>دورة <span>مميزة</span> .</h2>
							<div class="featured-course">
								<div class="best-course-pic-text relative-position">
									<div class="best-course-pic relative-position">
										<img src="assets-rtl/img/blog/fb-1.jpg" alt="">
										<div class="trend-badge-2 text-center text-uppercase">
											<i class="fas fa-bolt"></i>
											<span>الشائع</span>
										</div>
									</div>
									<div class="best-course-text">
										<div class="course-title mb20 headline relative-position">
											<h3><a href="#">تصميم وتطوير موقع مستجيب بالكامل.</a></h3>
										</div>
										<div class="course-meta">
											<span class="course-category"><a href="#">تم تصميم الموقع </a></span>
											<span class="course-author"><a href="#">250 طالب</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of teacher section
		============================================= -->

		

	<!-- Start of best product section
		============================================= -->
		<section id="best-product" class="best-product-section best-product-4">
			<div class="container">
				<div class="section-title-2 mb65 headline text-left">
					<h2>عبقرية <span>أفضل المنتجات.</span></h2>
				</div>
				<div id="best-product-slide-item" class="best-product-slide">
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>

					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="assets-rtl/img/product/bp-1.png" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="#">كتب تطبيقات المحمول.</a></h3>
								</div>
								<div class="price-start">
									تبدأ من
									 <span>55.25 دولار</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End  of best product section
		============================================= -->


	 <!-- Start of footer section
	 	============================================= -->
	 	<footer>
	 		<section id="footer-area" class="footer-area-section">
	 			<div class="container">
	 				<div class="footer-content pb10">
	 					<div class="row">
	 						<div class="col-md-3">
	 							<div class="footer-widget">
	 								<div class="footer-logo mb35">
	 									<img src="assets-rtl/img/logo/f-logo.png" alt="">
	 								</div>
	 								<div class="footer-about-text">
	 									<p>نأخذ مهمتنا المتمثلة في زيادة الوصول العالمي إلى جودة التعليم على محمل الجد.نقوم بتوصيل المتعلمين إلى أفضل الجامعات والمؤسسات من جميع أنحاء العالم.</p>
	 									<p>أبجد هوز دولور الجلوس أنا نأخذ مهمتنا من زيادة الوصول العالمي إلى جودة التعليم على محمل الجد. </p>
	 								</div>
	 							</div>
	 						</div>
	 						<div class="col-md-6">
	 							<div class="footer-widget">
	 								<div class="footer-menu ul-li-block">
	 									<h2 class="widget-title">روابط مفيدة</h2>
	 									<ul>
	 										<li><a href="#"><i class="fas fa-caret-right"></i>معلومات عنا</a></li>
	 										<li><a href="#"><i class="fas fa-caret-right"></i>التصميم الجرافيكي</a></li>
	 										<li><a href="#"><i class="fas fa-caret-right"></i>تطبيقات الموبايل</a></li>
	 										<li><a href="#"><i class="fas fa-caret-right"></i>موقع مستجيب</a></li>
	 										<li><a href="#"><i class="fas fa-caret-right"></i>التصميم الجرافيكي</a></li>
	 										<li><a href="#"><i class="fas fa-caret-right"></i>تطبيقات الموبايل</a></li>
	 									</ul>
	 								</div>
	 							</div>
	 							<div class="footer-menu ul-li-block">
	 								<h2 class="widget-title">معلومات الحساب</h2>
	 								<ul>
	 									<li><a href="#"><i class="fas fa-caret-right"></i>ضبط الحساب</a></li>
	 									<li><a href="#"><i class="fas fa-caret-right"></i>دخولتسجيل</a></li>
	 									<li><a href="#"><i class="fas fa-caret-right"></i>اتصل بنا</a></li>
	 									<li><a href="#"><i class="fas fa-caret-right"></i>التصميم الجرافيكي</a></li>
	 									<li><a href="#"><i class="fas fa-caret-right"></i>تطبيقات الموبايل</a></li>
	 									<li><a href="#"><i class="fas fa-caret-right"></i>موقع مستجيب</a></li>
	 								</ul>
	 							</div>
	 						</div>
	 						<div class="col-md-3">
	 							<div class="footer-widget">
	 								<h2 class="widget-title">معرض الصور</h2>
	 								<div class="photo-list ul-li">
	 									<ul>
 											<li>
 												<img src="assets-rtl/img/gallery/g-1.jpg" alt="">
 												<div class="blakish-overlay"></div>
 												<div class="pop-up-icon">
 													<a href="assets-rtl/img/gallery/g-1.jpg" data-lightbox="roadtrip">
 														<i class="fas fa-search"></i>
 													</a>
 												</div>
 											</li>
 											<li>
 												<img src="assets-rtl/img/gallery/g-2.jpg" alt="">
 												<div class="blakish-overlay"></div>
 												<div class="pop-up-icon">
 													<a href="assets-rtl/img/gallery/g-2.jpg" data-lightbox="roadtrip">
 														<i class="fas fa-search"></i>
 													</a>
 												</div>
 											</li>
 											<li>
 												<img src="assets-rtl/img/gallery/g-3.jpg" alt="">
 												<div class="blakish-overlay"></div>
 												<div class="pop-up-icon">
 													<a href="assets-rtl/img/gallery/g-3.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
 												</div>
 											</li>
 											<li>
 												<img src="assets-rtl/img/gallery/g-4.jpg" alt="">
 												<div class="blakish-overlay"></div>
 												<div class="pop-up-icon">
 													<a href="assets-rtl/img/gallery/g-4.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
 												</div>
 											</li>
 											<li>
 												<img src="assets-rtl/img/gallery/g-5.jpg" alt="">
 												<div class="blakish-overlay"></div>
 												<div class="pop-up-icon">
 													<a href="assets-rtl/img/gallery/g-5.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
 												</div>
 											</li>
 											<li>
 												<img src="assets-rtl/img/gallery/g-6.jpg" alt="">
 												<div class="blakish-overlay"></div>
 												<div class="pop-up-icon">
 													<a href="assets-rtl/img/gallery/g-6.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
 												</div>

 											</li>
 										</ul> 	
	 								</div>
	 							</div>
	 						</div>
	 					</div>
	 				</div> 
	 				<!-- /footer-widget-content -->
	 				<div class="footer-social-subscribe mb65">
	 					<div class="row">
	 						<div class="col-md-3">
	 							<div class="footer-social ul-li">
	 								<h2 class="widget-title">شبكة اجتماعية</h2>
	 								<ul>
	 									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	 									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
	 									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
	 								</ul>
	 							</div>
	 						</div>
	 						<div class="col-md-9">
	 							<div class="subscribe-form">
	 								<h2 class="widget-title">اشترك في النشرة الإخبارية</h2>

	 								<div class="subs-form relative-position">
	 									<form action="#" method="post">
	 										<input class="course" name="course" type="email" placeholder="Email Address.">
	 										<div class="nws-button text-center  gradient-bg text-uppercase">
	 											<button type="submit" value="Submit">إشترك الآن</button> 
	 										</div>
	 									</form>
	 								</div>
	 							</div>
	 						</div>
	 					</div>
	 				</div>

	 				<div class="copy-right-menu">
	 					<div class="row">
	 						<div class="col-md-6">
	 							<div class="copy-right-text">
	 								<p>© 2018 - www.GeniusCourse.com.كل الحقوق محفوظة</p>
	 							</div>
	 						</div>
	 						<div class="col-md-6">
	 							<div class="copy-right-menu-item float-right ul-li">
	 								<ul>
	 									<li><a href="#">رخصة</a></li>
	 									<li><a href="#">سياسة الخصوصية</a></li>
	 									<li><a href="#">شرط الخدمة</a></li>
	 								</ul>
	 							</div>
	 						</div>
	 					</div>
	 				</div>
	 			</div>
	 		</section>
	 	</footer>
	<!-- End of footer section
		============================================= -->



		<!-- For Js Library -->
		<script src="assets-rtl/js/jquery-2.1.4.min.js"></script>
		<script src="assets-rtl/js/bootstrap.min.js"></script>
		<script src="assets-rtl/js/popper.min.js"></script>
		<script src="assets-rtl/js/owl.carousel.min.js"></script>
		<script src="assets-rtl/js/jarallax.js"></script>
		<script src="assets-rtl/js/jquery.magnific-popup.min.js"></script>
		<script src="assets-rtl/js/lightbox.js"></script>
		<script src="assets-rtl/js/jquery.meanmenu.js"></script>
		<script src="assets-rtl/js/scrollreveal.min.js"></script>
		<script src="assets-rtl/js/jquery.counterup.min.js"></script>
		<script src="assets-rtl/js/waypoints.min.js"></script>
		<script src="assets-rtl/js/jquery-ui.js"></script>
		<script src="assets-rtl/js/script.js"></script>
		<script src="assets-rtl/js/gmap3.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?key=AIzaSyC61_QVqt9LAhwFdlQmsNwi5aUJy9B2SyA"></script>
	</body>
	</html>